.button {
  background-color: #259f5c;
  margin-left: 20px;
  padding: 10px 24px;
  color: white;
  border-radius: 8px;
  outline: none;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

input {
  width: 130px;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  border: 1px solid white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
