@import url("https://fonts.googleapis.com/css2?family=Prata");
body {
  margin: 4em;
  background-image: url("https://i.imgur.com/E4Qy6mg.png");
}
.title {
  font-family: "Prata", "Serif";
  color: black;
  padding-bottom: 1em;
}
.content {
  display: flex;
  align-content: space-between;
}

.search {
  font-size: 22px;
}
@media (max-width: 767px) {
  .App {
    flex: auto;
    margin: 0;
    align-items: left;
    height: 100vw;
    width: 100%;
    display: block;
    position: relative;
  }
}
